@model IEnumerable<JustEat.Models.Transaction>

@{
    ViewBag.Title = "TodayProfit";
    Layout = "~/Views/Shared/RestaurentLayout.cshtml";
}

<div id="middlediv">
    <table class="table" border="1">
        <tr>Total Profit @TempData["todayprofit"]</tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.RestaurentProfit)
            </th>
            
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTime)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.RestaurentProfit)
                </td>
                

            </tr>
        }

    </table>
</div>

