@model IEnumerable<JustEat.Models.Transaction>

@{
    ViewBag.Title = "Income";
    Layout = "~/Views/Shared/DeliveryManLayout.cshtml";
}

<div id="middlediv">
    <table class="table" border="1">
        <tr>Total Profit @TempData["totalprofit"]</tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.DeliveryManProfit)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTime)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryManProfit)
                </td>


            </tr>
        }

    </table>

</div>

