@model JustEat.Models.Order

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/RestaurentLayout.cshtml";
}


<div id="middlediv">
    <h4>Order</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PlacedTime) @Html.DisplayFor(model => model.PlacedTime)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.DeliveredTime) @Html.DisplayFor(model => model.DeliveredTime)
        </dt>

        

        <dt>
            @Html.DisplayNameFor(model => model.Customer.Name) @Html.DisplayFor(model => model.Customer.Name)
        </dt>
        Contact @Session["customercontact"]

        Delivery Address @Session["customeraddressbook"]
    </dl>
    <table border="1">
        <tr>
            <th colspan="5" align="center">Cart</th>
        </tr>
        <tr>
            <th>ID</th>
            <th>food</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>Total Price</th>
        </tr>
        @for (int i = 0; i <= (int)Session["countcart"]; i++)
        {
            <tr>
                <td>@Session["ocpid" + i.ToString()]</td>
                <td>@Session["ocpt" + i.ToString()]</td>
                <td>@Session["ocup" + i.ToString()]</td>
                <td>@Session["ocq" + i.ToString()]</td>
                <td>@Session["octp" + i.ToString()]</td>
            </tr>
        }
    </table>

        

    </dl>
</div>
